name: Release

on:
  create:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Release
        run: gh release create ${{github.ref_name}} --notes "release ${{github.ref_name}}"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}